<div class="inner-content-box" *ngIf="!permissionLoading">
  <form nz-form [formGroup]="form" *ngIf="(profile$ | async)!.can_operate_product; else notPermit">
    <div >
      <h3 nz-typography>Add Product</h3>
    </div>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Product Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          placeholder="Name"
          formControlName="name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Category</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          nzPlaceHolder="Select Category"
          nzAllowClear
          nzShowSearch
          formControlName="category"
        >
          <ng-container *ngFor="let o of categories$ | async">
            <nz-option *ngIf="!isCategoriesLoading" [nzValue]="o.guid" [nzLabel]="o.name | uppercase"></nz-option>
          </ng-container>
          <nz-option *ngIf="isCategoriesLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i>
            Loading Data...
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea
          nz-input
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Bid Duration</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-range-picker style="width: 100%" nzMode="date" nzShowTime></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </form>

</div>

<ng-template #notPermit>
  <nz-result nzStatus="403" nzTitle="403" nzSubTitle="Sorry, you are not authorized for this action.">
    <div nz-result-extra>
      <a nz-button nzType="primary" routerLink="/main">Back Home</a>
    </div>
  </nz-result>
</ng-template>
