<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Digital Auction</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'home'"></i>
            <a routerLink="/main/home">Home</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Product" nzIcon="container">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'plus-circle'"></i>
            <a routerLink="product/add">Add More</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'database'"></i>
            <a routerLink="product/all">All Products</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profile" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'audit'"></i>
            <a>Account Status</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'form'"></i>
            <a>Edit Profile</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'unlock'"></i>
            <a>Change Password</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'logout'"></i>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Support" nzIcon="phone">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'file-protect'"></i>
            <a>Terms & Condition</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'safety'"></i>
            <a>Privacy Policy</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i class="vertical-menu-icon" nz-icon [nzType]="'mail'"></i>
            <a>Contact</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header [ngStyle]="{marginLeft: isCollapsed ? '80px' : '256px'}">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed" >
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" [ngStyle]="{marginLeft: isCollapsed ? '80px' : '256px'}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
